dash==2.5.1
# numpy==1.22.4
# opencv_python==4.4.0.46
pandas==2.0.0
Pillow==10.0.0
plotly==5.8.2
torch
parse
tqdm
opencv-python-headless==4.11.0.86
pycocotools
line_profiler

# pip install imageio imageio-ffmpeg






# pip install --upgrade --force-reinstall numpy==1.24.4